In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df =  pd.read_csv('/Users/harrilan/Desktop/school/2024 Fall/BA305/BA305Project_Clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554910 entries, 0 to 1554909
Data columns (total 50 columns):
 #   Column                                 Non-Null Count    Dtype
---  ------                                 --------------    -----
 0   Unnamed: 0                             1554910 non-null  int64
 1   precinct                               1554910 non-null  int64
 2   subject_age                            1554910 non-null  int64
 3   contraband_found                       1554910 non-null  int64
 4   contraband_drugs                       1554910 non-null  int64
 5   contraband_weapons                     1554910 non-null  int64
 6   frisk_performed                        1554910 non-null  int64
 7   search_conducted                       1554910 non-null  int64
 8   search_person                          1554910 non-null  int64
 9   search_vehicle                         1554910 non-null  int64
 10  raw_search_warrant                     1554910 non-null  int64
 11  raw_search_inventory                   1554910 non-null  int64
 12  raw_search_plain_view                  1554910 non-null  int64
 13  year                                   1554910 non-null  int64
 14  month                                  1554910 non-null  int64
 15  day                                    1554910 non-null  int64
 16  hour                                   1554910 non-null  int64
 17  minute                                 1554910 non-null  int64
 18  second                                 1554910 non-null  int64
 19  outcome                                1554910 non-null  int64
 20  violation_investigative stop           1554910 non-null  int64
 21  violation_moving traffic violation     1554910 non-null  int64
 22  violation_parking violation            1554910 non-null  int64
 23  violation_registration                 1554910 non-null  int64
 24  violation_safety violation             1554910 non-null  int64
 25  violation_seatbelt violation           1554910 non-null  int64
 26  violation_vehicle equipment violation  1554910 non-null  int64
 27  day_of_week_Friday                     1554910 non-null  int64
 28  day_of_week_Monday                     1554910 non-null  int64
 29  day_of_week_Saturday                   1554910 non-null  int64
 30  day_of_week_Thursday                   1554910 non-null  int64
 31  day_of_week_Tuesday                    1554910 non-null  int64
 32  day_of_week_Wednesday                  1554910 non-null  int64
 33  time_of_day_daytime                    1554910 non-null  int64
 34  time_of_day_nighttime                  1554910 non-null  int64
 35  search_basis_False                     1554910 non-null  int64
 36  search_basis_consent                   1554910 non-null  int64
 37  search_basis_other                     1554910 non-null  int64
 38  search_basis_plain view                1554910 non-null  int64
 39  search_basis_probable cause            1554910 non-null  int64
 40  subject_race_asian/pacific islander    1554910 non-null  int64
 41  subject_race_black                     1554910 non-null  int64
 42  subject_race_hispanic                  1554910 non-null  int64
 43  subject_race_other                     1554910 non-null  int64
 44  subject_race_unknown                   1554910 non-null  int64
 45  subject_race_white                     1554910 non-null  int64
 46  subject_sex_female                     1554910 non-null  int64
 47  subject_sex_male                       1554910 non-null  int64
 48  vehicle_registration_state_TN          1554910 non-null  int64
 49  vehicle_registration_state_not TN      1554910 non-null  int64
dtypes: int64(50)
memory usage: 593.2 MB

In [4]:
df.head(10)

,Unnamed: 0,precinct,subject_age,contraband_found,contraband_drugs,contraband_weapons,frisk_performed,search_conducted,search_person,search_vehicle,...,subject_race_asian/pacific islander,subject_race_black,subject_race_hispanic,subject_race_other,subject_race_unknown,subject_race_white,subject_sex_female,subject_sex_male,vehicle_registration_state_TN,vehicle_registration_state_not TN
0,90,8,32,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
1,120,8,30,0,0,0,1,1,1,0,...,0,0,0,0,0,1,0,1,1,0
2,197,1,31,1,0,0,1,1,1,0,...,0,0,0,0,0,1,0,1,1,0
3,198,1,27,1,1,0,0,1,1,0,...,0,0,0,0,0,1,0,1,1,0
4,209,6,29,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,1,1,0
5,217,6,18,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
6,257,8,36,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
7,267,4,31,0,0,0,0,1,1,1,...,0,1,0,0,0,0,0,1,1,0
8,283,5,25,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
9,284,8,40,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0